.burgerConstructor {
  width: 30vw;
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
}

.burgerIngredients {
  width: 100%;
  height: 55vh;
  overflow: scroll;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card_top {
  justify-content: flex-end;
}


.burgerInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.burgerPrice {
  width: 119px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1800px) {
  .burgerConstructor {
    width: 40vw;
  }
}

@media screen and (max-width: 1100px) {
  .burgerConstructor {
    width: 100%;
    margin-left: 0vw;
  }
}
