.main {
  margin: 0;
  padding: 0;
  width: 62vw;
  margin-left: 19vw;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1800px) {
  .main {
    width: 82vw;
    margin-left: 9vw;
  }
}

@media screen and (max-width: 1100px) {
  .main {
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 520px) {
    .main {
      width: 100vw;
      margin-left: 0vw;
    }
  }
}