.header_space {
  margin: 0 auto;
  margin-top: 40px;
  width: 96vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#1C1C21;
}

.header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 68vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 88px;
  justify-content: space-between;
}

.box {
  margin: 0;
  padding: 0;
  width: 158px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  background: none;
  border: none;
  color:white;
}

@media screen and (max-width: 1800px) {
  .header {
    width: 90vw;
  }
}

@media screen and (max-width: 1100px) {
  .header {
    align-items: flex-end;
    height: 100px;
    justify-content: center;
  }

  .logo {
    left: 0%;
    transform: translateX(-20%);
    top: 0%;
    transform: translateY(0%);
  }
}

@media screen and (max-width: 520px) {
  .header {
    height: 130px;
    justify-content: space-between;
  }

  .cards {
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
  }

  .box {
    justify-content: flex-start;
  }
}

